<div class="widget-box transparent">
	<div class="widget-header widget-header-flat">
		<h3>
			<i class="icon-edit green"></i> 推荐博客
			<small>
				<i class="icon-double-angle-right"></i>
				学习笔记 &amp; 经验博文
			</small>
		</h3>
		<div class="widget-toolbar">
			<a href="#">更多...</a>
		</div>
	</div><!--/.page-header-->

	<div class="row-fluid">
		<div class="span12">
			<!--PAGE CONTENT BEGINS-->

			<div class="space-6"></div>

			<div class="row-fluid">
				<div class="span6">
					<ul class="unstyled spaced">
						<li><i class="icon-angle-right blue"></i><a href="#">ITM安装与配置手册实施文档作者</a></li>
						<li><i class="icon-angle-right blue"></i><a href="#">ITM安装与配置手册实施文档作者</a></li>
						<li><i class="icon-angle-right blue"></i><a href="#">ITM安装与配置手册实施文档作者</a></li>
						<li><i class="icon-angle-right blue"></i><a href="#">ITM安装与配置手册实施文档作者</a></li>
					</ul>
				</div>

				<div class="span6">
					<ul class="unstyled spaced">
						<li><i class="icon-angle-right blue"></i><a href="#">ITM安装与配置手册实施文档作者</a></li>
						<li><i class="icon-angle-right blue"></i><a href="#">ITM安装与配置手册实施文档作者</a></li>
						<li><i class="icon-angle-right blue"></i><a href="#">ITM安装与配置手册实施文档作者</a></li>
						<li><i class="icon-angle-right blue"></i><a href="#">ITM安装与配置手册实施文档作者</a></li>
					</ul>
				</div>
			</div><!--/row-->

			<!--PAGE CONTENT ENDS-->
		</div><!--/.span-->
	</div><!--/.row-fluid-->
</div><!--/.page-content-->