<div class="widget-box transparent">
	<div class="widget-header widget-header-small header-color-orange">
		<h6>
			<i class="icon-book"></i>
			推荐书籍
		</h6>

		<div class="widget-toolbar">
			<a href="#" data-action="collapse">
				<i class="icon-chevron-down"></i>
			</a>
		</div>
	</div>

	<div class="widget-body">
		<div class="widget-main">
			<ul class="unstyled spaced">
				<li>
					<i class="icon-bell purple"></i>
					List with custom icons and more space
				</li>

				<li>
					<i class="icon-star blue"></i>
					Unordered List Item # 2
				</li>

				<li>
					<i class="icon-remove red"></i>
					Unordered List Item # 3
				</li>

				<li>
					<i class="icon-ok green"></i>
					Unordered List Item # 4 which is a longer item and may break into more lines.
				</li>
			</ul>
		</div>
	</div>
</div> <!-- end widget -->