<div class="widget-box transparent">
	<div class="widget-header widget-header-flat">
		<h6>
			<i class="icon-group blue"></i> 热门圈子
			<small>
				<i class="icon-double-angle-right"></i>
				社交运维 &amp; 知识共享
			</small>
		</h6>
		<div class="widget-toolbar">
			<a href="#">更多...</a>
		</div>
	</div><!--/.page-header-->

	<div class="row-fluid">
		<div class="span12">
			<!--PAGE CONTENT BEGINS-->

			<div class="space-6"></div>

			<div class="row-fluid">
				<div class="span4">
					<div class="groupbox groupbox-dark ">
						<a href="#">
							<img src="@routes.Assets.at("images/gallery/cloud.jpg")" style="width:60px; height:60px; top:0px; vertical-align:top;">
						</a>

						<div class="groupbox-data">
							<div class="groupbox-content"><a href="#">测试群组 (私有)</a></div>
							<div class="groupbox-content">11位成员</div>
						</div>

						<div class="badge badge-error">
							100+
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="groupbox groupbox-dark ">
						<a href="#">
							<img src="@routes.Assets.at("images/gallery/linux.jpg")" style="width:60px; height:60px; top:0px; vertical-align:top;">
						</a>

						<div class="groupbox-data">
							<div class="groupbox-content"><a href="#">测试群组 (私有)</a></div>
							<div class="groupbox-content">11位成员</div>
						</div>

						<div class="badge badge-error">
							100+
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="groupbox groupbox-dark ">
						<a href="#">
							<img src="@routes.Assets.at("images/gallery/oracle.jpg")" style="width:60px; height:60px; top:0px; vertical-align:top;">
						</a>

						<div class="groupbox-data">
							<div class="groupbox-content"><a href="#">测试群组 (私有)</a></div>
							<div class="groupbox-content">11位成员</div>
						</div>

						<div class="badge badge-error">
							100+
						</div>
					</div>
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="span4">
					<div class="groupbox groupbox-dark ">
						<a href="#">
							<img src="@routes.Assets.at("images/gallery/web.jpg")" style="width:60px; height:60px; top:0px; vertical-align:top;">
						</a>

						<div class="groupbox-data">
							<div class="groupbox-content"><a href="#">测试群组 (私有)</a></div>
							<div class="groupbox-content">11位成员</div>
						</div>

						<div class="badge badge-error">
							100+
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="groupbox groupbox-dark ">
						<a href="#">
							<img src="@routes.Assets.at("images/gallery/ubuntu.jpg")" style="width:60px; height:60px; top:0px; vertical-align:top;">
						</a>

						<div class="groupbox-data">
							<div class="groupbox-content"><a href="#">测试群组 (私有)</a></div>
							<div class="groupbox-content">11位成员</div>
						</div>

						<div class="badge badge-error">
							100+
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="groupbox groupbox-dark ">
						<a href="#">
							<img src="@routes.Assets.at("images/gallery/nexus.jpg")" style="width:60px; height:60px; top:0px; vertical-align:top;">
						</a>

						<div class="groupbox-data">
							<div class="groupbox-content"><a href="#">测试群组 (私有)</a></div>
							<div class="groupbox-content">11位成员</div>
						</div>

						<div class="badge badge-error">
							100+
						</div>
					</div>
				</div>
			</div>

			<!--PAGE CONTENT ENDS-->
		</div><!--/.span-->
	</div><!--/.row-fluid-->
</div><!--/.page-content-->