<div class="widget-box transparent">
	<div class="widget-header widget-header-flat">
		<h6>
			<i class="icon-group blue"></i> 热门圈子
			<small>
				<i class="icon-double-angle-right"></i>
				社交运维 &amp; 知识共享
			</small>
		</h6>
		<div class="widget-toolbar">
			<a href="#">更多...</a>
		</div>
	</div><!--/.page-header-->

	<div class="row-fluid">
		<div class="span12">
			<!--PAGE CONTENT BEGINS-->

			<div class="space-6"></div>

			<div class="row-fluid">
				<div class="">
				</div>
				<ul class="ace-thumbnails">
					<li>
						<a href="assets/images/gallery/image-1.jpg" title="Photo Title" data-rel="colorbox" class="cboxElement">
							<img alt="150x150" src="assets/images/gallery/tivoli.jpg" style="max-width:150px;">
							<div class="tags">
								<span class="label label-info">breakfast</span>
								<span class="label label-important">fruits</span>
								<span class="label label-success">toast</span>
								<span class="label label-warning arrowed-in">diet</span>
							</div>
						</a>

						<div class="tools">
							<a href="#">
								<i class="icon-link"></i>
							</a>

							<a href="#">
								<i class="icon-paper-clip"></i>
							</a>

							<a href="#">
								<i class="icon-pencil"></i>
							</a>

							<a href="#">
								<i class="icon-remove red"></i>
							</a>
						</div>
					</li>

					<li>
						<a href="assets/images/gallery/image-1.jpg" title="Photo Title" data-rel="colorbox" class="cboxElement">
							<img alt="150x150" src="assets/images/gallery/oracle.jpg" style="max-width:150px;"> 
							<div class="tags">
								<span class="label label-warning arrowed-in">diet</span>
							</div>
						</a>

						<div class="tools">
							<a href="#">
								<i class="icon-link"></i>
							</a>

							<a href="#">
								<i class="icon-paper-clip"></i>
							</a>

							<a href="#">
								<i class="icon-pencil"></i>
							</a>

							<a href="#">
								<i class="icon-remove red"></i>
							</a>
						</div>
					</li>
					
					<li>
						<a href="assets/images/gallery/image-1.jpg" title="Photo Title" data-rel="colorbox" class="cboxElement">
							<img alt="150x150" src="assets/images/gallery/linux.jpg" style="max-width:150px;">
							<div class="tags">
								<span class="label label-success">toast</span>
								<span class="label label-warning arrowed-in">diet</span>
							</div>
						</a>

						<div class="tools">
							<a href="#">
								<i class="icon-link"></i>
							</a>

							<a href="#">
								<i class="icon-paper-clip"></i>
							</a>

							<a href="#">
								<i class="icon-pencil"></i>
							</a>

							<a href="#">
								<i class="icon-remove red"></i>
							</a>
						</div>
					</li>
					
					<li>
						<a href="assets/images/gallery/image-1.jpg" title="Photo Title" data-rel="colorbox" class="cboxElement">
							<img alt="150x150" src="assets/images/gallery/cloud.jpg" style="max-width:150px;">
							<div class="tags">
								<span class="label label-info">breakfast</span>
								<span class="label label-warning arrowed-in">diet</span>
							</div>
						</a>

						<div class="tools">
							<a href="#">
								<i class="icon-link"></i>
							</a>

							<a href="#">
								<i class="icon-paper-clip"></i>
							</a>

							<a href="#">
								<i class="icon-pencil"></i>
							</a>

							<a href="#">
								<i class="icon-remove red"></i>
							</a>
						</div>
					</li>
					
				</ul>
			</div>

			<!--PAGE CONTENT ENDS-->
		</div><!--/.span-->
	</div><!--/.row-fluid-->
</div><!--/.page-content-->