<div class="widget-box transparent">
	<div class="widget-header widget-header-small header-color-pink">
		<h6 class="pink">
			<i class="icon-user"></i>
			热门ITClouder
		</h6>

		<div class="widget-toolbar no-border">
			<ul class="nav nav-tabs" id="myTab2">
				<li class="active">
					<a data-toggle="tab" href="#week">周</a>
				</li>

				<li>
					<a data-toggle="tab" href="#month">月</a>
				</li>

				<li>
					<a data-toggle="tab" href="#year">年</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="widget-body">
		<div class="widget-main">
			<div class="itemdiv">
				<div class="user">
					<img alt="Bob Doe's avatar" src="assets/avatars/user.jpg">
				</div>

				<div class="body">
					<div class="name">
						<a href="#">Bob Doe</a>
					</div>

					<div class="time green">
						<i class="icon-arrow-up"></i>
						<span class="green">8</span>
					</div>

					<div>
						<span class="label label-warning">TSM</span>
						<span class="label label-success">AIX</span>
					</div>
				</div>
			</div>
			<div class="itemdiv">
				<div class="user">
					<img alt="Bob Doe's avatar" src="assets/avatars/user.jpg">
				</div>

				<div class="body">
					<div class="name">
						<a href="#">Bob Doe</a>
					</div>

					<div class="time green">
						<i class="icon-arrow-up"></i>
						<span class="green">8</span>
					</div>

					<div>
						<span class="label label-warning">TSM</span>
						<span class="label label-success">AIX</span>
					</div>
				</div>
			</div>
			<div class="itemdiv">
				<div class="user">
					<img alt="Bob Doe's avatar" src="assets/avatars/user.jpg">
				</div>

				<div class="body">
					<div class="name">
						<a href="#">Bob Doe</a>
					</div>

					<div class="time green">
						<i class="icon-arrow-up"></i>
						<span class="green">8</span>
					</div>

					<div>
						<span class="label label-warning">TSM</span>
						<span class="label label-success">AIX</span>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div> <!-- end widget -->