<div class="space-12"></div>
<div class="center">
	<div class="width-80 label label-info label-large arrowed-in arrowed-in-right">
		<div class="inline position-relative">
			<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
				<i class="icon-circle light-green middle"></i>
				&nbsp;
				<span class="white middle bigger-120">Alex M. Doe</span>
			</a>

			<ul class="align-left dropdown-menu dropdown-caret dropdown-lighter">
				<li class="nav-header"> Change Status </li>

				<li>
					<a href="#">
						<i class="icon-circle green"></i>
						&nbsp;
						<span class="green">Available</span>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="icon-circle red"></i>
						&nbsp;
						<span class="red">Busy</span>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="icon-circle grey"></i>
						&nbsp;
						<span class="grey">Invisible</span>
					</a>
				</li>
			</ul>
		</div>
		
	</div>
</div>

<!-- <div class="space-6"></div>

<div class="profile-contact-info">
	<div class="profile-contact-links align-left">
		<a class="btn btn-link" href="#">
			<i class="icon-plus-sign bigger-120 green"></i>
			Add as a friend
		</a>

		<a class="btn btn-link" href="#">
			<i class="icon-envelope bigger-120 pink"></i>
			Send a message
		</a>

		<a class="btn btn-link" href="#">
			<i class="icon-globe bigger-125 blue"></i>
			www.alexdoe.com
		</a>
	</div>

	<div class="space-6"></div>

	<div class="profile-social-links center">
		<a href="#" class="tooltip-info" title="" data-original-title="Visit my Facebook">
			<i class="middle icon-facebook-sign icon-2x blue"></i>
		</a>

		<a href="#" class="tooltip-info" title="" data-original-title="Visit my Twitter">
			<i class="middle icon-twitter-sign icon-2x light-blue"></i>
		</a>

		<a href="#" class="tooltip-error" title="" data-original-title="Visit my Pinterest">
			<i class="middle icon-pinterest-sign icon-2x red"></i>
		</a>
	</div>
</div> -->

<div class="hr hr8 dotted"></div>

<div class="clearfix">
	<div class="grid2 center">
		<span class="bigger-175 blue">25</span>

		<br>
		Followers
	</div>

	<div class="grid2 center">
		<span class="bigger-175 blue">12</span>

		<br>
		Following
	</div>
</div>

<div class="hr hr8 dotted"></div>