<div class="widget-box transparent">
	<div class="widget-header widget-header-small header-color-blue">
		<h6>
			<i class="icon-comment"></i>
			云维公告
		</h6>

		<div class="widget-toolbar">
			<a href="#" data-action="collapse">
				<i class="icon-chevron-down"></i>
			</a>
		</div>
	</div>

	<div class="widget-body">
		<div class="widget-main">
			<p>
				云维杂志第一期推出 <a href="#">IT运维杂志第一期</a>
			</p>
			<hr >
			<p>
				最新活动 <a href="#">IBM Automation 技术峰会</a><br>
				时间: 8月2日 18：00～20：00<br>
				主讲人： XXX
			</p>
		</div>
	</div>
</div> <!-- end widget -->