@(message: String)
@import widgets._

@main("个人主页") {
	
	<div class="span9 blog-page">
		@blog_item()
	</div>
	
	<div class="span3">
		
		<div class="space-12"></div>
		<div class="center">
			<div class="width-80 label label-important label-large arrowed-in arrowed-in-right">
				<div class="inline position-relative">
					<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
						<i class="icon-edit light-blue middle"></i>
						&nbsp;
						<span class="white middle bigger-120">发表博客</span>
					</a>
				</div>
			</div>
		</div>
		<div class="hr hr8"></div>
		@ask_my()
		
		<div class="hr hr8"></div>
		
		@hot_user()
		
	</div>
		
	
}