@(title: String)(content: Html)

@import widgets._

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>@title | 乐享一二，乐享IT</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!--basic styles-->

		<link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" />
		<link href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")" rel="stylesheet" />
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.min.css")" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome-ie7.min.css")" />
		<![endif]-->

		<!--page specific plugin styles-->

		<!--fonts-->

		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/ace-fonts.css")" />

		<!--ace styles-->

		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/ace.min.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/ace-responsive.min.css")" />
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/ace-skins.min.css")" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/ace-ie.min.css")" />
		<![endif]-->

		<!--inline styles related to this page-->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	</head>

	<body>
		
		@navbar()

		<div class="main-container container-fluid">
			
			<div class="searchbars" id="searchbar">
				<div class="pull-left">
					<a href="#" class="brand">
						<small>
							<img src="assets/images/logo.png" class="msg-photo" alt="ITClouder" style="width:100px"/>
						</small>
					</a><!--/.brand-->
				
				</div>
				
				<div class="nav-search pull-left" id="nav-search">
					<form class="form-search offset1">
						<span class="input-icon-big">
							<input type="text" placeholder="Search ..." class="input-xxlarge nav-search-input" id="nav-search-input" autocomplete="off">
							<i class="icon-search nav-search-icon"></i>
						</span>
					</form>
				</div><!--#nav-search-->
				
			</div>
		</div>
		
		<div class="main-container container">

			<div class="row-fluid">
				@content
			</div> <!--/.sidebar -->
		</div><!--/.main-container-->
		
		<hr >
		<footer class="footer">
			<div class="container-fluid">
				<div class="center">
					<p>2013 © CloudWei. ALL Rights Reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
			 	</div>
			</div>
		</footer>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>

		<!--basic scripts-->

		<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='@routes.Assets.at("javascripts/jquery-2.0.3.min.js")'>"+"<"+"/script>");
		</script>

		<!--<![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='@routes.Assets.at("javascripts/jquery-1.10.2.min.js")'>"+"<"+"/script>");
		</script>
		<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='@routes.Assets.at("javascripts/jquery.mobile.custom.min.js")'>"+"<"+"/script>");
		</script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>

		<!--page specific plugin scripts-->

		<!--[if lte IE 8]>
		  <script src="@routes.Assets.at("javascripts/excanvas.min.js")"></script>
		<![endif]-->

		<script src="@routes.Assets.at("javascripts/jquery-ui-1.10.3.custom.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.ui.touch-punch.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.slimscroll.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.easy-pie-chart.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery.sparkline.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/flot/jquery.flot.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/flot/jquery.flot.pie.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/flot/jquery.flot.resize.min.js")"></script>

		<!--ace scripts-->

		<script src="@routes.Assets.at("javascripts/ace-elements.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/ace.min.js")"></script>

		<!--inline scripts related to this page-->

		<script type="text/javascript">
			$(function() {
				function stripTrailingSlash(str) {
				    if(str.substr(-1) == '/') {
				      return str.substr(0, str.length - 1);
				    }
				    return str;
				  }

				  var url = window.location.pathname;  
				  var activePage = stripTrailingSlash(url);

				  $('.nav li a').each(function(){  
				    var currentPage = stripTrailingSlash($(this).attr('href'));

				    if (activePage == currentPage) {
				      $(this).parent().addClass('active'); 
				    } 
				  });
			
			})
		</script>
	</body>
</html>
